annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
bcrypt==4.0.1
click==8.3.2
fastapi==0.121.3
greenlet==3.4.0
h11==0.16.0
httptools==0.7.1
idna==3.11
passlib==1.7.4
pydantic==2.5.0
pydantic_core==2.14.1
PyJWT==2.12.1
python-dotenv==1.0.0
python-multipart==0.0.6
PyYAML==6.0.3
SQLAlchemy==2.0.23
starlette==0.50.0
typing_extensions==4.15.0
uvicorn==0.24.0
uvloop==0.22.1
watchfiles==1.1.1
websockets==16.0
